@import '@/styles/variables.scss';

.count-container {
  display: flex;
  gap: 1.3rem;
  align-self: flex-end;
  flex-grow: 0.5;
  &__item {
    display: flex;
    gap: 0.6rem;
    align-items: flex-end;
  }
}
