.image-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

.shape-rounded {
  border-radius: 1rem;
}

.shape-circle {
  border-radius: 50%;
}
