@import '@/styles/variables.scss';

.header-user-container {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .avatar__container {
    width: 12rem;
    padding: 0;
  }

  .image-button__image {
    object-fit: contain;
  }

  span {
    @include themed() {
      color: t(gray-5);
    }
  }
}
