@import '@/styles/variables.scss';

.bold {
  font-weight: 700;
  line-height: normal;
}
.heading0 {
  font-size: 2.25rem;
  line-height: normal;
}
.heading1 {
  font-size: 1.5rem;
  line-height: normal;
}
.heading2 {
  font-size: 1.375rem;
  line-height: normal;
}
.subtitle1 {
  font-size: 1.125rem;
  line-height: normal;
}
.subtitle2 {
  font-size: 0.8125rem;
  line-height: normal;
}
.body1 {
  font-size: 1rem;
  line-height: normal;
}
.body2 {
  font-size: 0.875rem;
  line-height: 1.5;
}
.caption1 {
  font-size: 0.75rem;
  line-height: normal;
}
