@import '/src/styles/global-layout.scss';

.nav-container {
  width: fit-content;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  position: fixed;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  top: 0%;

  .image-button {
    padding: 2rem 0;
  }

  .image-button__image {
    width: fit-content;
    height: 4rem;
    object-fit: contain;
  }

  .nav-title {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 1rem 0;

    .user-count {
      border-radius: 1rem;
      border: none;
      padding: 0.4rem 1rem;
    }
  }

  .avatar-list-container {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    overflow-y: scroll;
  }
  .avatar-list-container::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
  }

  .avatar-list-container::-webkit-scrollbar-track {
    background: transparent;
  }

  .avatar-list-container::-webkit-scrollbar-thumb {
    width: 0.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    @include themed() {
      background-color: t(bg-1);
    }
  }

  .avatar-list-container::-webkit-scrollbar-thumb:hover {
    @include themed() {
      background-color: t(gray-4);
    }
  }

  .avatar__container {
    span {
      @include themed() {
        color: t(gray-3);
      }
      padding-left: 1.5rem;

      div {
        padding: 0.5rem 0;
      }
      div:nth-child(1) {
        font-weight: bold;
        font-size: 1rem;
      }
      div:nth-child(2) {
        font-size: 0.8rem;
      }
    }
    padding-bottom: 1.5rem;
    cursor: pointer;
  }
}
