@import '/src/styles/global-layout.scss';

.nav-container {
  padding: 0 2rem;
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  position: fixed;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  top: 0%;
  z-index: 100;

  .image-button {
    padding: 2rem 0;
  }

  .image-button__image {
    width: -moz-fit-content;
    width: fit-content;
    height: 4rem;
    object-fit: contain;
  }

  .nav-title {
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 1rem 0;

    .user-count {
      border-radius: 1rem;
      border: none;
      padding: 0.4rem 1rem;
    }
  }

  .avatar-list {
    width: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    overflow-y: scroll;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--avatar {
        width: 70%;
      }

      button:last-child {
        flex-shrink: 0;
      }
    }
  }
  .avatar-list::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
  }

  .avatar-list::-webkit-scrollbar-track {
    background: transparent;
  }

  .avatar-list::-webkit-scrollbar-thumb {
    width: 0.5rem;
    height: 6rem;
    border-radius: 0.5rem;
    @include themed() {
      background-color: t(bg-1);
    }
  }

  .avatar-list::-webkit-scrollbar-thumb:hover {
    @include themed() {
      background-color: t(gray-4);
    }
  }
}
