.avatar {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

.shape-rounded {
  border-radius: 5px;
}

.shape-circle {
  border-radius: 50%;
}

.bgColor-yellow_dark {
  background-color: #e2af3c;
}
.bgColor-yellow_primary {
  background-color: #f7d542;
}

.bgColor-yellow_secondary {
  background-color: #f8d899;
}

.bgColor-gray_primary {
  background-color: #6b7684;
}

.bgColor-gray_secondary {
  background-color: #e5e8eb;
}
.bgColor-gray_dark {
  background-color: #4e5968;
}

.bgColor-gray_light {
  background-color: #e5e8eb;
}

.color-yellow_dark {
  color: #e2af3c;
}
.color-yellow_primary {
  color: #f7d542;
}

.color-yellow_secondary {
  color: #f8d899;
}

.color-gray_primary {
  color: #6b7684;
}

.color-gray_secondary {
  color: #e5e8eb;
}
.color-gray_dark {
  color: #4e5968;
}

.color-gray_light {
  color: #e5e8eb;
}
