.avatar__container {
  display: flex;
  gap: 0.1rem;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

.shape-rounded {
  border-radius: 1rem;
}

.shape-circle {
  border-radius: 50%;
}

.bgColor-yellow_dark {
  background-color: #e2af3c;
}
.bgColor-yellow_primary {
  background-color: #f7d542;
}

.bgColor-yellow_secondary {
  background-color: #f8d899;
}

.bgColor-gray_primary {
  background-color: #6b7684;
}

.bgColor-gray_secondary {
  background-color: #e5e8eb;
}
.bgColor-gray_dark {
  background-color: #4e5968;
}

.bgColor-gray_light {
  background-color: #e5e8eb;
}

.bgColor-danger {
  color: red;
}

.color-yellow_dark {
  color: #e2af3c;
}
.color-yellow_primary {
  color: #f7d542;
}

.color-yellow_secondary {
  color: #f8d899;
}

.color-gray_primary {
  color: #6b7684;
}

.color-gray_secondary {
  color: #e5e8eb;
}
.color-gray_dark {
  color: #4e5968;
}

.color-gray_light {
  color: #e5e8eb;
}

.color-danger {
  color: red;
}

.text-top {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.text-medium {
  display: flex;
  flex: 1;
  align-items: center;
}

.text-bottom {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.textSize-large {
  font-size: 1.5rem;
}

.textSize-medium {
  font-size: 1.05rem;
}
.textSize-small {
  font-size: 0.8rem;
}
