.sign-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E2AF3C;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.94rem;

  > img {
    margin-right: 1.6rem;
  }
}
