:root {
  --pcc-highlight: #f0394f;

  --pcc-primary-dark-1: #e2af3c;
  --pcc-primary-dark-2: #191f28;
  --pcc-primary-dark-3: #f7d54e;
  --pcc-primary-dark-4: #e2af3c;
  --pcc-primary-dark-5: #ffdf5f;

  --pcc-bg-dark-1: #333d4b;
  --pcc-bg-dark-2: #191f28;

  --pcc-gray-dark-1: #6b7684;
  --pcc-gray-dark-2: #e5e8eb;
  --pcc-gray-dark-3: #f7f8fa;
  --pcc-gray-dark-4: #6b7684;
  --pcc-gray-dark-5: #fff;
}
