:root {
  --pcc-highlight: #f0394f;

  --pcc-primary-light-1: #f8db99;
  --pcc-primary-light-2: #fffaea;
  --pcc-primary-light-3: #f7d54e;
  --pcc-primary-light-4: #e2af3c;

  --pcc-bg-light-1: #fff;
  --pcc-bg-light-2: #f0f0f0;

  --pcc-gray-light-1: #e5e8eb;
  --pcc-gray-light-2: #6b7684;
  --pcc-gray-light-3: #333d4b;
  --pcc-gray-light-4: #adb5bd;
  --pcc-gray-light-5: #191f28;
}
