@import '/src/styles/global-layout.scss';

@mixin centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 1rem 0 0 1rem;
  width: calc(100% - 20rem);
  min-width: calc(1040px - 320px - 2rem);
  margin-left: 2rem;
  height: 5rem;
  position: fixed;
  z-index: 100;
  padding: 0 3rem 0 2rem;
  top: 0%;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header-button-container {
  @include centerAlign();
  padding: 0 2rem;
}

.sign-container {
  @include centerAlign();
  gap: 1rem;

  .subtitle1 {
    &:hover,
    &:focus {
      color: #e2af3c; // primary-4
    }
  }
}

.header-user-container {
  @include centerAlign();
  &:hover {
    cursor: pointer;
  }

  .avatar__container {
    width: 12rem;
    padding: 0;
  }

  .image-button__image {
    object-fit: contain;
  }

  span {
    @include themed() {
      color: t(gray-5);
    }
  }
}

.header-text_button {
  word-break: keep-all;
}
