@import '@/styles/variables.scss';

.user-detail_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: fit-content;
  padding: 2rem 2.5rem;
  align-items: center;
}

.follow_info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.follow_buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.info_count {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  &--follow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    @include themed() {
      color: t(gray-3);
      background-color: t(bg-transparent);
    }
    &:hover {
      opacity: 70%;
    }
  }
}
