@import '@/styles/variables.scss';

.button-container {
  display: flex;
  width: 21.875rem;
  height: 3.125rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 20px;
  margin-bottom: 1.56rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &.yellow {
    @include themed() {
      background-color: t(primary-1);
      color: t(gray-5);
    }
  }

  &.red {
    @include themed() {
      background-color: t(bg-1);
      color: t(highlight);
      
      &:hover {
        background-color: t(highlight);
        color: t(bg-1);
      }
    }
  }
}
