@import '/src/styles/global-layout.scss';

@mixin centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-page-headline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 25rem);
  height: 8rem;
  position: fixed;
  z-index: 90;
  padding-left: 2rem;
  top: 5rem;
}

.data-grid {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  overflow-y: scroll;
  padding: 1rem;
}

.data-grid::-webkit-scrollbar {
  width: 0.5rem;
  height: 100%;
}

.data-grid::-webkit-scrollbar-track {
  background: black;
  border-radius: 0.5rem;
}

.data-grid::-webkit-scrollbar-thumb {
  width: 0.5rem;
  height: 6rem;
  border-radius: 0.5rem;
  @include themed() {
    background-color: t(bg-2);
  }
}

.data-grid::-webkit-scrollbar-thumb:hover {
  @include themed() {
    background: t(gray-4);
  }
}

.category-button-container {
  @include centerAlign();

  width: 13rem;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
}

.category-button {
  @include centerAlign();

  border: none;
  gap: 0.2rem;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &.click-true {
    .category-text {
      color: #e2af3c; // primary-4
    }
  }
}
