@import '/src/styles/variables.scss';

.post-detail {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 2rem;
  box-sizing: border-box;
  width: 1080px;
  overflow: hidden;
  min-height: 50rem;
  height: auto;
  padding: 5px;
  border-radius: 19.02px;
  padding: 5rem;
  justify-content: space-around;

  @include themed() {
    background-color: t(bg-1);
  }
  &__post {
    line-break: auto;
    white-space: pre-wrap;
  }
  &__header {
    display: flex;
    width: 80%;
    margin: 15px auto;
    justify-content: space-between;

    @include themed() {
      color: t(bg-1);
    }

    .avatar__container {
      width: inherit;
      
    }
  }
  &__post-container {
    display: flex;
    min-height: 250px;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 15px auto;
    margin-bottom: 15px;
  }
}
