@import '/src/styles/variables.scss';

.post-detail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  width: 1080px;
  overflow: hidden;
  min-height: 50rem;
  border-radius: 19.02px;
  justify-content: space-around;

  @include themed() {
    background-color: t(bg-1);
  }
  &__heading {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  &__post {
    line-break: auto;
    white-space: pre-wrap;
  }
  &__avatar-container {
    display: flex;
    width: 80%;
    margin: 0px auto;
    @include themed() {
      color: t(bg-1);
    }
  }
  &__post-container {
    display: flex;
    min-height: 250px;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
