@import '/src/styles/variables.scss';

.post-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  width: 1080px;
  overflow: hidden;
  min-height: 58rem;
  border-radius: 19.02px;
  padding: 5rem;

  @include themed() {
    background-color: t(bg-1);
  }
  &__post {
    line-break: auto;
    white-space: pre-wrap;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__post-container {
    display: flex;
    min-height: 250px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
