.sign-input-container {
  &.signup {
    margin-bottom: 1rem;
  }

  &.login {
    margin-bottom: 2.5rem;
  }

  &.last {
    margin-bottom: 3.13rem;
  }
}

.input-title {
  color: #000;

  /* Heading2 */
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 0.5rem;
}

.sign-input {
  width: 21.875rem;
  height: 3.125rem;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #FFFAEA;
  padding-left: 0.63rem;
  box-sizing: border-box;
}
