$articleHeight: 9rem;

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1.12rem;
  width: 100%;
  min-height: 100%;
  position: relative;
  &__title {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__image-container {
    width: 100%;
    min-height: $articleHeight;
    position: relative;
    img {
      object-fit: cover;
      border-radius: 1.2rem;
    }
  }
  &__article-container {
    min-height: $articleHeight;
  }
}
