$articleHeight: 9rem;

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1.12rem;
  width: 100%;
  min-height: 100%;
  position: relative;
  &__header {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
  }
  &__image-container {
    width: 100%;
    height: $articleHeight;
    position: relative;
    img {
      object-fit: cover;
      border-radius: 1.2rem;
    }
  }
  &__article-container {
    min-height: $articleHeight;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
}
